/* Especificidad 001*/
body{
    background-color:white;
    color:black;
}
/* Especificidad 001*/
h1{
    /*text-align:center;*/
    color:red;
}
/* Especificidad 001*/
h2{
    color:blue;
}
/* Especificidad 001*/
h3{
    color:brown;
}
/* Especificidad 001*/
h4{
	color:green;
}
/* Especificidad 001*/
p{
    color:black;
}
/* Especificidad 001*/
li{
    color:gray;
}